.page-header {
    background-color: #0C6B12;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px 20px 40px;
}

.content {
    padding-left: 20px;
}

.content-home {
    padding-left: 20px;
}

a {
    color: #000000;
}