<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Administração</title>
    </head>
    <body>
        <div class="page-header" style="border: none">
            <div class="linha">
                <header>
                    <div class="coluna col3">
                        <h1 class="logo">Administração</h1>
                    </div>
                    <div class="coluna col9">
                        <nav>
                            <ul class="menu inline sem-marcador" style="width: 700px">
                                <li>
                                    <a href="{% url 'home' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-home"></span></button></a>
                                </li>
                                <li>
                                    <a href="{% url 'people' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-user"></span> Pessoas</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'ambients' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-map-marker"></span> Ambientes</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'schedules' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-calendar"></span> Horários</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'administration' %}"><button type="button" class="btn btn-selected-special"><span class="glyphicon glyphicon-cog"></span> Administração</button></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>
        <div style="background-color: #76B376">
            <div class="linha" style="padding: 0 0 0 0">
                <header>
                    <div class="coluna col12" style="color: #FFF; font-size: 14px; text-align: left; padding: 10px 10px">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.username }}
                    </div>
                </header>
            </div>
        </div>
        <div class="content-administration">
            <div class="linha-top-menu">
                <header>
                    <ul class="menu top-inline sem-marcador">
                        <li>
                            <a href="{% url 'csv_generator' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-floppy-save"></span> Gerar CSV</button></a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span> Adicionar usuário</button></a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-log-out"></span> Sair</button></a>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
    </body>
</html>