<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Ambientes</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Ambientes</h1>
        </div>
        <div class="content">
            <br/>
            <ul>
                {% for ambient in ambients %}
                    <li>
                        <p>
                            {{ ambient.name }} <br/>
                            ID: {{ ambient.ID }} <br/>
                        </p>
                    </li>
                {% endfor %}
            </ul>
            <a href="register/register_ambient.html"><button type="button" class="btn"><span class="glyphicon glyphicon-plus-sign"></span> Cadastrar novo ambiente</button></a>
        </div>
    </body>
</html>
