<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Entrar</title>
    </head>
    <body>
        <div class="page-header">
            <div class="linha">
                <header>
                    <div class="coluna col4">
                        <h1 class="logo">Entrar</h1>
                    </div>
                    <div class="coluna col8">
                        <nav>
                            <ul class="menu inline sem-marcador">
                                <li>
                                    <a href="home.html"><button type="button" class="btn"><span class="glyphicon glyphicon-home"></span></button></a>
                                </li>
                                <li>
                                    <a href="people.html"><button type="button" class="btn btn-selected"><span class="glyphicon glyphicon-user"> Pessoas</span></button></a>
                                </li>
                                <li>
                                    <a href="ambients.html"><button type="button" class="btn"><span class="glyphicon glyphicon-map-marker"> Ambientes</span></button></a>
                                </li>
                                <li>
                                    <a href="schedules.html"><button type="button" class="btn"><span class="glyphicon glyphicon-calendar"> Horários</span></button></a>
                                </li>
                                <li>
                                    <a href="user.html"><button type="button" class="btn"><span class="glyphicon glyphicon-off"> Log</span></button></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="content">
            <br/>
            <ul>
                {% for person in people %}
                    <li>
                        <p>
                            {{ person.name }} <br/>
                            Matrícula: {{ person.registration }} <br/>
                            Tag: {{ person.tag }} <br/>
                        </p>
                    </li>
                {% endfor %}
            </ul>
            <a href="register/register_person.html"><button type="button" class="btn"><span class="glyphicon glyphicon-plus-sign"></span> Cadastrar nova pessoa</button></a>
        </div>
    </body>
</html>