<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Início</title>
    </head>
    <body>
        <div class="page-header">
            <div class="linha">
                <header>
                    <div class="coluna col3">
                        <h1 class="logo">IF Access</h1>
                    </div>
                    <div class="coluna col9">
                        <nav>
                            <ul class="menu inline sem-marcador" style="width: 700px">
                                <li>
                                    <a href="{% url 'administration' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-cog"></span> Administração</button></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="content-home">
            <br/>
            <div class="linha-content-home">
                <header>
                    <div class="coluna col4" align="center">
                        <a id="home-people-button" href="{% url 'people' %}"><button type="button" class="btn btn-home"><span class="glyphicon glyphicon-user"></span><br/>Pessoas</button></a>
                    </div>
                    <div class="coluna col4" align="center">
                        <a id="home-ambients-button" href="{% url 'ambients' %}"><button type="button" class="btn btn-home"><span class="glyphicon glyphicon-map-marker"></span><br/>Ambientes</button></a>
                    </div>
                    <div class="coluna col4" align="center">
                        <a id="home-schedules-button" href="{% url 'schedules' %}"><button type="button" class="btn btn-home"><span class="glyphicon glyphicon-calendar"></span><br/>Horários</button></a>
                    </div>
                </header>
            </div>
        </div>
    </body>
</html>
