<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Início</title>
    </head>
    <body>
        <div class="page-header">
            <h1>IF Access</h1>
        </div>
        <div class="content-home">
            <br/>
            <a id="home-people-button" href="people.html"><button type="button" class="btn"><span class="glyphicon glyphicon-user"></span> Pessoas</button></a>
            <a id="home-ambients-button" href="ambients.html"><button type="button" class="btn"><span class="glyphicon glyphicon-home"></span> Ambientes</button></a>
            <a id="home-schedules-button" href="schedules.html"><button type="button" class="btn"><span class="glyphicon glyphicon-calendar"></span> Horários</button></a>
        </div>
    </body>
</html>
