<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Cadastro de usuário</title>
    </head>
    <body>
        <div class="page-header" style="border: none">
            <div class="linha">
                <header>
                    <div class="coluna col12">
                        <h1 class="logo">Cadastro de usuário</h1>
                    </div>
                </header>
            </div>
        </div>
        <div style="background-color: #76B376">
            <div class="linha" style="padding: 0 0 0 0">
                <header>
                    <div class="coluna col12" style="color: #FFF; font-size: 14px; text-align: left; padding: 10px 10px">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.username }}
                    </div>
                </header>
            </div>
        </div>
        <div>
            <form method="POST" class="signup_form">{% csrf_token %}
                <div class="linha">
                    <header>
                        <div class="coluna col12">
                            <div class="register-schedule-grid-container" style="grid-template-columns: 280px 300px 300px; padding: 40px 0 0 333px">
                                <div>
                                    <strong>Usuário:</strong><br/>
                                    {{ signup.user }}<br/><br/>
                                    <strong>Senha:</strong><br/>
                                    {{ signup.password }}<br/><br/>
                                    <strong>Confirmação de senha:</strong><br/>
                                    {{ signup.confirmPassword }}<br/><br/>
                                    <!-- AQUI TEM QUE IMPRIMIR UM ERRO, CASO OS DADOS INFORMADOS NÃO SEJAM VÁLIDOS -->
                                    <input type="submit" value="Cadastrar" />
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </form>
        </div>
    </body>
</html>