<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Horários</title>
    </head>
    <body>
        <div class="page-header">
            <div class="linha">
                <header>
                    <div class="coluna col3">
                        <h1 class="logo">Horários</h1>
                    </div>
                    <div class="coluna col9">
                        <nav>
                            <ul class="menu inline sem-marcador" style="width: 700px">
                                <li>
                                    <a href="{% url 'home' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-home"></span></button></a>
                                </li>
                                <li>
                                    <a href="{% url 'people' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-user"></span> Pessoas</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'ambients' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-map-marker"></span> Ambientes</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'schedules' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-calendar"></span> Horários</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'administration' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-cog"></span> Administração</button></a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-log-out"></span></button></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="content-specific-schedule">
            {% if schedules.count != 0 %}
                <div class="linha-top-menu">
                    <header>
                        <ul class="menu top-inline sem-marcador">
                            <li>
                                <a href="../register/register_schedule.html"><button type="button" class="btn"><span class="glyphicon glyphicon-plus-sign"></span> Cadastrar novo horário</button></a>
                            </li>
                        </ul>
                    </header>
                </div>
                <div class="linha">
                    <header>
                        <div class="coluna col12">
                            <!--<div class="schedule-grid-container">-->
                            <!-- Esse código comentado acima estava no lugar da linha abaixo. Restaurar, em caso de problemas. -->
                            <div class="people-grid-container" style="grid-template-columns: 215px 215px 215px 215px; grid-gap: 20px">
                                {% for schedule in schedules %}
                                    <div>
                                        {{ schedule.ambient }} <br/>
                                        {{ schedule.day }} <br/>
                                        {{ schedule.entryTime }} -
                                        {{ schedule.exitTime }} <br/>
                                        {{ schedule.person}} <br/>
                                        <a class="btn btn-default" href="{% url 'edit_schedule' pk=schedule.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a class="btn btn-default" href="{% url 'remove_schedule' pk=schedule.pk %}"><span class="glyphicon glyphicon-minus-sign"></span> Remover</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </header>
                </div>
            {% else %}
                <div class="linha-top-menu" style="padding: 10px">
                    <h4><br/>Não há horários cadastrados para este ambiente.<br/><br/>
                    Para cadastrar um novo horário, acesse a aba "Horários" e clique em "Cadastrar novo horário".</h4>
                </div>
                <div class="linha-bottom-menu">
                    <header>
                        <ul class="menu bottom-inline sem-marcador">
                            <li>
                                <a href="{% url 'ambients' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button></a>
                            </li>
                        </ul>
                    </header>
                </div>
            {% endif %}
        </div>
    </body>
</html>
