<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ifaccapp.css' %}">
        <title>IF Access | Cadastro de ambiente</title>
    </head>
    <body>
        <div class="page-header" style="border: none">
            <div class="linha">
                <header>
                    <div class="coluna col12">
                        <h1 class="logo">Cadastro de ambiente</h1>
                    </div>
                </header>
            </div>
        </div>
        <div style="background-color: #76B376">
            <div class="linha" style="padding: 0 0 0 0">
                <header>
                    <div class="coluna col12" style="color: #FFF; font-size: 14px; text-align: left; padding: 10px 10px">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.username }}
                    </div>
                </header>
            </div>
        </div>
        <div>
            <form method="POST" class="register_ambient_form">{% csrf_token %}
                <div class="linha" style="padding: 20px 0 10px 0; border-bottom: 1px solid #eee">
                    <div class="coluna col2">
                        <label>Tipo de ambiente:</label>
                    </div>
                    <div class="coluna col10">
                        {{ register_ambient.type }}
                    </div>
                </div>
                <div class="linha" style="padding: 10px 0 10px 0; border-bottom: 1px solid #eee">
                    <div class="coluna col2">
                        <label>Nome:</label>
                    </div>
                    <div class="coluna col10">
                        {{ register_ambient.name }}
                    </div>
                </div>
                <div class="linha" style="padding: 10px 0 10px 0; border-bottom: 1px solid #eee">
                    <div class="coluna col2">
                        <label>Sigla:</label>
                    </div>
                    <div class="coluna col10">
                        {{ register_ambient.ID }}
                    </div>
                </div>
                <div class="linha" style="padding: 10px 0 10px 0; border-bottom: 1px solid #eee">
                    <div class="coluna col2">
                        <label>Endereço IP:</label>
                    </div>
                    <div class="coluna col10">
                        {{ register_ambient.IP }}
                    </div>
                </div>
                <div class="linha" style="padding: 10px 0 10px 0; border-bottom: 1px solid #eee">
                    <div class="coluna col2">
                        <label>Máscara de subrede:</label>
                    </div>
                    <div class="coluna col10">
                        {{ register_ambient.mask }}
                    </div>
                </div>
                <div class="linha-bottom-menu">
                    <header>
                        <ul class="menu bottom-inline sem-marcador">
                            <li>
                                <a href="{% url 'ambients' %}"><button type="button" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button></a>
                                <button type="submit" class="save btn"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
                            </li>
                        </ul>
                    </header>
                </div>
            </form>
        </div>
    </body>
</html>